{% extends 'backend/backend_succor.html' %}

{% block title %} Thank You {% endblock %}

{% block user %} {{user}} {% endblock %}

{% block content %}
  

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div style="color: white;" class="alert alert-{{ category }}" role="alert">
      <strong>Heya {{ user }}: </strong> {{ message }} !</span>
    </div>
  {% endfor %}
  {% endwith %}

<div class="card card-frame">
  <div class="card-body">
    <h3 style="text-align:center">Thank You for Using SmartSaver Platform!</h3>
    <p style="text-align:center">We wanted to take a moment to express our heartfelt gratitude for choosing SmartSaver for your money transfer needs.</p>
    <!-- <p style="text-align:center">Your trust in our platform means the world to us, and we're thrilled to be your go-to solution for sending money.</p>
    <p style="text-align:center">Your recent transaction is greatly appreciated, and we're here to ensure that your experience with SmartSaver continues to be safe, convenient, and reliable.</p>
   -->
    <!-- <p style="text-align:center">Your support plays a vital role in promoting a greener environment and combating climate change</p> -->
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VxmgF7AIhjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display:block; margin:auto;">
    </iframe>
    <br>
    <p style="text-align:center">Thank you again for your support. We could not do this without you.</p>

    <br>
    <br>
  
  <div align="center">
      <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        More
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{{ url_for('main.transaction') }}">Transaction Details</Details></a></li>
        <li><a class="dropdown-item" href="{{ url_for('main.view_certificate') }}">View Membership Certificate</a></li>
        <li><a class="dropdown-item" href="{{ url_for('main.email_certificate') }}">Email me my Certificate</a></li>
      </ul>
  </div>
  </div>
</div>
<br>


{% endblock %}